//ブレイクポイント
$break-point-sp: 960px;
//ベースフォントサイズ
$text-base-size: 15;
//カラー
$colorTheme01: #25255F;
$colorTheme02:#2C439B;
$colorTheme03:#DFA0C8;
$colorTheme04:#33C7F7;
$colorGray01:#ebebeb;
$colorGray02:#ccc;
$colorGray03:#999;
$colorGray04:#717171;
$colorGray05:#3B4043;
$colorWhite: #fff;
$colorBlack: #000;